@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.width {
  width: 100%;
  display: block;
}

.temperature {
  font-size: 1.2rem;
}

.header {
  font-weight: 400;
}

.border-5 {
  border-top: 0.7rem solid;
}

.capitalize {
  text-transform: capitalize;
}

.thick {
  font-weight: 400;
  font-size: 1.2rem;
}

.hover:hover {
  background-color: #df691a !important;
  color: white !important;
  cursor: pointer;
}

.hover:hover .temperature {
  color: white !important;
}

.muted-info {
  font-size: 1.5rem;
}

.header {
  display: flex;
  justify-content: center
}

/* TRANSITION DROPDOWN */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}